*

!.github/
!.github/**

!.gitignore
!.npmignore

!README.md
!CHANGELOG.md
!LICENSE
!AUTHORS
!CONTRIBUTING.md
!GOVERNANCE.md
!MAINTAINERS.md

!package.json
!tsconfig.json
!package-lock.json

!types.d.ts

!src/
!src/**

!test/
!test/**

!scripts/
!scripts/**

**/*~
**/*.log
**/.DS_Store
**/Thumbs.db

src/**/node_modules